@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Roboto", sans-serif;
}
:root {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}


